* {
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}

html, body {
    height: 100%;
    width: 100%;
    font: 100% 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article {
    max-width: 40rem;
    margin: 10rem;
}

.large {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 4rem;
    color: #111;
}

hr {
    margin: 6rem 0;
    border: none;
    width: 4rem;
    height: .5rem;
    background-color: #111;
}

p {
    color: #8E8E93;
    font-size: 1.5rem;
    line-height: 3rem;
}

a {
    text-decoration: none;
    color: #007AFF;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 50rem) {
    article {
        margin: 4rem 2rem;
    }
}