@import url(http://fonts.googleapis.com/css?family=Karla);
@font-face {
    src: url(Azo-Sans-Regular.otf);
    font-family: AzoSans;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Karla', sans-serif;
    height: 100%;
    width: 100%;
}

hr {
    width: 300px;
    border: none;
    height: 2px;
    background-color: #f7f7f7;
    margin: 0 auto;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.top-section {
    padding: 25px 0 25px 0;
}

.top-section img {
    width: 100px;
    border-radius: 50%;
    padding: 10px 0 10px 0;
}

h3 {
    font-weight: 400;
    padding: 10px 0 10px 0;
    color: #333;
    font-size: 1.3em;
}

.top-section p {
    color: #C7C7CC;
}

.content {
    padding: 25px 0 25px 0;
    color: #8E8E93;
    line-height: 1.6em;
    margin: 0 auto;
    width: 300px;
    text-align: justify;
}

.content a {
    color: #007AFF;
    text-decoration: none;
}

.info {
    color: #007AFF;
}

.image-div-right h3 {
    letter-spacing: 5px;
}

.links a {
    padding: 10px;
    letter-spacing: 2px;
    color: #34AADC;
    text-decoration: none;
}

.freelance-work {
    height: 100%;
    width: 100%;
    color: #8E8E93;
    line-height: 1.6em;
}

.close {
    text-decoration: none;
    color: #c7c7cc;
    font-size: 25px;
}

.freelance-project {
    margin: 0 auto;
    text-align: justify;
    width: 300px;
    padding: 10px 0 10px 0;
}

.freelance-project a {
    text-decoration: none;
    color: #007AFF;
}

small {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: #c7c7cc;
}

@media (max-width: 640px) {
    .outer {
        padding: 50px 0 50px 0;
    }
    .content {
        width: 80%;
    }
    hr {
        width: 80%;
    }
    .freelance-project {
        width: 80%;
    }
}