@import url(https://fonts.googleapis.com/css?family=Hind);
* {
    margin: 0;
    padding: 0;
    transition: all ease .3s;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: 'Hind', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.outer {
    display: table;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

nav {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 0;
}

nav h3 {
    font-weight: 400;
    display: inline-block;
}

nav h3 a {
    color: #333;
    text-decoration: none;
}

.nav-right {
    float: right;
}

.nav-right a {
    color: #aaa;
    text-decoration: none;
    margin-left: 25px;
    padding: 0 0 10px 0;
}

.nav-right a:hover {
    color: #333;
}

.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    height: 2px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main {
    padding: 100px 0;
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 3em;
}

.main h1 {
    font-weight: 400;
    color: #333;
    font-size: 3em;
    line-height: 1.2em;
}

.main h2 {
    font-weight: 400;
    color: #aaa;
    font-size: 1.5em;
    margin-top: 25px;
    line-height: 1.6em;
}

.about {
    margin: 0 auto;
    width: 60%;
    max-width: 1000px;
    padding-bottom: 50px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #555;
}

.about h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.about a {
    color: #aaa;
    text-decoration: none;
}

.about a:hover {
    color: #333;
}

.work {
    margin: 0 auto;
    width: 60%;
    max-width: 1000px;
}

.work h2 {
    font-weight: 400;
    color: #333;
    margin-bottom: 25px;
}

.sec-work {
    width: 100%;
}

.sec-work img {
    width: 100%;
}

.box {
    width: 100%;
    padding: 20px 0 40px 0;
}

.box h1 {
    font-weight: 400;
    color: #333;
}

.box p {
    margin-top: 10px;
    color: #555;
}

.box a {
    color: #aaa;
    text-decoration: none;
}

.box a:hover {
    color: #333;
}

.box small {
    border: solid 1px #aaa;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 10px 10px 0 0;
    letter-spacing: 1px;
    font-size: 12px;
    color: #aaa;
}

.contact {
    margin: 0 auto 25px auto;
    width: 60%;
    max-width: 1000px;
}

.contact h2 {
    font-weight: 400;
    color: #333;
}

.contact p {
    color: #555;
    margin-top: 10px;
}

.contact a {
    text-decoration: none;
    color: #aaa;
}

.contact a:hover {
    color: #333;
}

.icons {
    font-size: 20px;
    margin-top: 10px;
}

.icons a {
    margin-right: 10px;
}

.project {
    color: #555;
    margin-top: 25px;
}

.project a {
    text-decoration: none;
    color: #aaa;
}

.project a:hover {
    color: #333;
}

ol {
    list-style-position: inside;
}

ol b {
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 5px;
}

ol p {
    margin-top: 5px;
}

.testimonial {
    border-top: solid 1px #ecf0f1;
    border-bottom: solid 1px #ecf0f1;
    margin: 25px 0 50px 0;
    padding: 20px 0;
    color: #555;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: justify;
}

@media (max-width: 50em) {
    .main,
    .work,
    .about,
    .contact,
    nav {
        width: 80%;
    }
}

@media (max-width: 40em) {
    .main {
        padding: 25px 0;
    }
    nav h3 {
        display: block;
    }
    .nav-right {
        float: left;
    }
    .nav-right a {
        margin: 10px 10px 0 0;
    }
}

@media (max-width: 30rem) {
    .box small {
        width: auto;
        display: block;
        margin-bottom: 10px;
    }
}