* {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 14px;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  line-height: 1.6rem;
}

body {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
}

h1, h2, h3, h4, h5, h6, ul, ol, p, pre, li {
  margin-bottom: 1rem;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

hr::before {
  display: block;
  height: 2rem;
  content: "----";
  color: #F012BE;
}

strong::before, strong::after, b::before, b::after {
  content: "**";
}

em::before, em::after, i::before, i::after {
  content: "_";
}

h1, h2, h3, h4, h5, h6 {
  color: #FF4136;
  margin-top: 2rem;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background: #fff;
}

h1::before {
  content: "# ";
  color: #7FDBFF;
}

h2::before {
  content: "## ";
  color: #7FDBFF;
}

h3::before {
  content: "### ";
  color: #7FDBFF;
}

h4::before {
  content: "#### ";
  color: #7FDBFF;
}

h5::before {
  content: "##### ";
  color: #7FDBFF;
}

h6::before {
  content: "###### ";
  color: #7FDBFF;
}

a {
  text-decoration: none;
  color: #0074D9;
}

a:hover::before, a:hover::after, a:hover {
  color: #FF4136;
  text-decoration: underline;
}
