<div class="freelance-work outer">
    <div class="inner">
        <a href="/#/" class="close">X</a>
        <br>
        <br>
        <h3>Freelance Work</h3>
        <br>
        <div class="freelance-project">
            <h3><a href="http://ayapps.io">Kicks</a></h3>
            <small>ui design, product design</small>
            <br>
            <p>A simple application for buying socializing and buying new kicks.</p>
        </div>
        <br>
        <div class="freelance-project">
            <h3><a href="#">Canyon High School App</a></h3>
            <small>ui design, product design</small>
            <br>
            <p>An application that brings students together from Canyon High School.</p>
        </div>
    </div>
</div>