<div class="outer">
    <div class="inner">
        <div class="top-section">
            <img src="imgs/image.jpg" alt="profile-photo">
            <br>
            <h3>Henry Kaufman</h3>
            <small>Designer, Developer, Entrepreneur</small>
        </div>
        <hr>
        <div class="content">Hi there! I am a <a href="/#/freelance">freelance</a> designer and developer living in Denver, Colorado. In my freetime I build <a href="http://themn.ml/projects">cool web stuff</a>. I am in the process of building a few different startups, will be updating soon!
            <br>
            <br> Find me on <a href="https://twitter.com/hcjk_">Twitter</a>,
            <a href="https://github.com/hcjk">GitHub</a>,
            <a href="https://dribbble.com/hcjk">Dribbble</a>, <a href="https://www.youtube.com/c/HenryKaufman">YouTube</a>, and check out my
            <a href="http://themn.ml">blog</a>.
            <br>
            <br>
        </div>
    </div>
</div>