@font-face {
    src: url(Nunito-Regular.ttf);
    font-family: Nunito;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.image-div {
    display: table;
    height: 100px;
    margin: 0 auto;
}

.inner-image-div {
    display: table-cell;
    vertical-align: middle;
}

.image-div-left {
    display: inline-block;
}

.image-div-right {
    height: 100px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}

.image-div-right-outer {
    display: table;
    height: 100px;
}

.image-div-right-content {
    display: table-cell;
    vertical-align: middle;
}

.image-div-left img {
    height: 100px;
    border-radius: 50%;
}

.image-div-right p {
    color: #7F8C8D;
}

.image-div-right h3 {
    font-size: 1.3em;
}

.content {
    padding: 25px 0 25px 0;
    color: #7F8C8D;
    line-height: 1.75em;
    font-size: .9em;
    margin: 0 auto;
    width: 290px;
}

.info,
.fa,
.image-div-right h3 {
    color: #34AADC;
}

.fa {
    padding: 0 10px 0 10px;
}

a:hover {
    transition: color .5s;
    color: #1abc9c;
}

@media (max-width: 640px) {
    .outer {
        padding: 25px 0 25px 0;
    }
    .content {
        width: 80%;
        font-size: 1em;
    }
    .image-div-left {
        display: block;
    }
    .image-div-right {
        text-align: center;
        display: block;
    }
}
